:root {
  --font-public-sans: "Public Sans";
  --font-jost: Jost;
  --font-rubik: Rubik;
  --button-bold: Roboto;
}

* {
  font-family: var(--font-jost);
  text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  #map {
    width: 100%;
    height: 500px;
  }

  #chatbox {
    margin-bottom: 20px;
  }

  #chat-form {
    justify-content: space-between;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  input[type="submit"] {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    transition: background-color 0.5s ease;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #c6cac6;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .navbar .navbar-nav a{
    display: inline-block;
    font-family: var(--font-jost);
    font-size: var(--font-size-mid);
    font-weight: bold;
    margin: 0 5rem;
    color: rgb(86, 68, 68);
  }
  
  .navbar-nav{
    display: flex;
      justify-content: space-between;
      transition: background-color 0.5s ease;
      align-items: center;
      padding: 1.4rem 7%;
      position: sticky;
      top: 0;
      z-index: 99;
  }

  footer {
    padding: 1rem 7%;
    justify-content: space-between;
  }
  footer p {
    font-family: var(--font-jost);
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.175em;
  }
  